#k1 {
  width: 600px;
  height: 300px;
  padding-bottom: 0!important;
}


.datamaps-hoverover {
  text-align: left;
  padding: 2px;
  font: 12px sans-serif;
  background: #7bbe93;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
  line-height: 130%;
  color: black;
  box-shadow: 1px 1px 1px 1px rgba(241, 239, 239, 0.75);
}

svg{
  height: 300px !important;
}